
.text-black {
    color: black !important;
}

.bg-white {
    background-color: white;
}

#app a {
    color: black !important;
    text-decoration: none;
    transition: color 0.8s ease;
}

#app a:hover {
    color: blue;
    text-decoration: underline;
}

#icons {
    color: rgb(33, 97, 140);
    font-weight: bold;
    margin-left: 8px;
}

.bold-font {
    font-weight: bold !important;
}

.line-spacing {
    margin-bottom: 10px;
    /* Espace entre les lignes */
}

.custom-button {
    border: 0.5px solid rgb(33, 97, 140);
    /* Bordure bleue */
    background-color: white;
    /* Arrière-plan blanc */
    color: rgb(33, 97, 140);
    /* Texte bleu */
    padding: 5px 8px;
    /* Réduction du padding */
    cursor: pointer;
    /* Curseur pointeur */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    /* Transition pour le survol */
    border-radius: 8px;
    /* Angles arrondis */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* Ombre sous le bouton */
    font-size: 0.875rem;
    /* Réduction de la taille de la police */
}

.custom-button:hover {
    background-color: rgb(33, 97, 140);
    /* Arrière-plan bleu au survol */
    color: white;
    /* Texte blanc au survol */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    /* Ombre plus prononcée au survol */
}

.custom-button:focus {
    outline: none;
    /* Supprimer le contour par défaut */
    box-shadow: 0 0 0 4px rgba(26, 82, 118, 0.3);
    /* Ajout d'une ombre pour le focus */
}